
.row
    section(ssr-rv-each-section='sections' ssr-rv-class="getSectionColumnClass | call section")
        .row(ssr-rv-if="getIndexForPageHeader | call | eq %section%")
            gy-page-header.col-12.my-4(ssr-rv-co-header="header")
        //- Content Sections
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentContentText'")
            gy-section-text.col-12(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentContentImage'") 
            gy-section-image.col-12(ssr-rv-co-section="section")
        .row.mt-3.mb-5(ssr-rv-if="section.__typename | eq 'ComponentContentButton'") 
            gy-section-button.col-12(ssr-rv-co-section="section")
        .row.mt-3.mb-5(ssr-rv-if="section.__typename | eq 'ComponentContentDownloadButton'") 
            gy-section-button.col-12(ssr-rv-co-section="section")
        //- Other Sections
        .row(ssr-rv-if="section.__typename | eq 'ComponentSectionSlideshow'")
            gy-section-slideshow.col-12.px-0(ssr-rv-co-section="section")
        .row(ssr-rv-if="section.__typename | eq 'ComponentSectionGallerySlideshow'") 
            gy-section-gallery-slideshow.col-12(ssr-rv-co-section="section")
        .row(ssr-rv-if="section.__typename | eq 'ComponentSectionIFrame'") 
            gy-section-iframe.col-12(ssr-rv-co-section="section")
        .row(ssr-rv-if="section.__typename | eq 'ComponentSectionBlogSlideshow'") 
            gy-section-blog-slideshow.col-12(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentSectionBlackboardSlideshow'")
            gy-section-blackboard-slideshow.col-12(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentSectionFacts'")
            gy-section-facts.col-12.pt-3(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentHomeNews'") 
            gy-section-news.col-12(ssr-rv-co-section="section")
        .row.my-5.justify-content-center(ssr-rv-if="section.__typename | eq 'ComponentHomeCalendar'") 
            gy-section-calendar.col-12.col-md-auto(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentStudentSectionStudentQuote'") 
            gy-section-student-quote.col-12(ssr-rv-co-section="section")
        .row.my-5.justify-content-center(ssr-rv-if="section.__typename | eq 'ComponentSectionMensaMax'") 
            gy-section-mensa-max.col-12.mx-auto(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'PodcastEpisode'") 
            gy-section-podcast-episode.col-12(ssr-rv-co-section="section")
        .row.my-5(ssr-rv-if="section.__typename | eq 'ComponentSectionLatestPodcastEpisode'") 
            gy-section-podcast-episode.col-12(ssr-rv-co-section="section")