.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4.mb-4w(ssr-rv-if="teachers.length | gt 1")
    gy-teacher-item.col.mx-auto(ssr-rv-each-teacher="teachers" ssr-rv-co-teacher="teacher")
  section.row(ssr-rv-unless="teachers.length | gt 1" ssr-rv-assign-teacher="teachers | get 0")
    .col-12.col-md-4
      img.card-img-top(lazyload="lazy" ssr-rv-src='teacher.image | strapi-image-url "large"' ssr-rv-alt="teacher.image.alternativeText")
    .col-12.col-md-8
      p(rv-if="teacher.biography" rv-html="teacher.biography | markdown")
      .row
        .col-12.col-md-6
          strong
            | Fächer
          span.list-group.list-group-flush
            a.list-group-item.list-group-item-action(rv-each-subject="teacher.subjects" rv-href="subject.slug | school-subject" rv-text="subject.title")
        .col-12.col-md-6
          strong(rv-if="assets.length | gt 0")
            | Unterrichtsmaterialien
          span.list-group.list-group-flush
            a.list-group-item.list-group-item-action(rv-each-asset="assets" rv-href="asset.file.url | strapi" download rv-text="asset.name")