.container-fluid.container-xxl.bg-white
  .row
    .col-12.col-md-8.offset-md-2
      .row
        gy-page-header.col-12.my-4(ssr-rv-co-header="header")
      section.row
        .col-12.col-md-4(ssr-rv-show='teacher.image')
          img.card-img-top(lazyload="lazy" ssr-rv-src='teacher.image | strapi-image-url "large"' ssr-rv-alt="teacher.image.alternativeText")
        .col-12.col-md-8(ssr-rv-class-col-md-8='teacher.image')
          p(ssr-rv-if="teacher.biography" ssr-rv-html="teacher.biography | markdown")
          .row
            .col-12.col-md-4(ssr-rv-unless="teacher.working_groups | empty")
              strong
                | AGs
              span.list-group.list-group-flush
                a.list-group-item.list-group-item-action(ssr-rv-each-working-group="teacher.working_groups" ssr-rv-href="workingGroup.slug | working-group" ssr-rv-text="workingGroup.title")
      gy-asset-list.row.my-5(title="Informationen", ssr-rv-co-assets="assets")