bs5-sidebar#right-sidebar.bg-blue.py-5.scrollbar-x-auto.scrollbar-cyan(container-selector="#main-container, gy-navbar, gy-search-result" position="right" mode="move" close-on-swipe="false")
  //- gy-link-list.list-group(type="toolbar")
  //-   .list-group-item.list-group-item-action.bg-transparent.border-0(ssr-rv-each-item="items")
  //-     a.nav-link.text-light(csr-rv-route ssr-rv-href="item.link" ssr-rv-text="item.name")
  gy-nav-slide(ssr-rv-entry="navEntry")