gy-search-result {
  display: block;
  max-height: 100vh;
  overflow-x: auto;
  transition: $bs5-sidebar-transition;
  z-index: $zindex-search-result !important;
  margin-right: -2px;
  border-bottom: $navbar-border-width $navbar-border-style $navbar-border-color;
  .search-highlight {
    background-color: $yellow;
  }
  .suggest {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
  }
  background-color: $body-bg;
}