gy-section-gallery-slideshow, gy-section-blog-slideshow  {
  display: block;
  &.slideshow-style-art {
    background: $gallery-art-background-image;
    background-size: $gallery-art-background-size;
    bs5-slideshow {
      background: $gallery-background-gradient;
    }
    .card-image {
      @extend .p-3;
    }
  }
  &.slideshow-style-dreamy {
    background: $gallery-dreamy-background-image;
    background-size: $gallery-dreamy-background-size;   
  }
  &.slideshow-style-dreamy, &.slideshow-style-color {
    .card-image {
      @extend .p-1;
    }
  }
  bs5-slideshow {
    .slideshow-controls, .slideshow-indicators {
      bs5-icon {
        color: white;
      }
      &:focus {
        box-shadow: none;
      }
    }
    .slideshow-indicators {
      margin-left: 0;
      margin-right: 0;
      justify-content: end;
      &.indicators-bottom, &.indicators-sm-bottom, &.indicators-md-bottom, &.indicators-lg-bottom, &.indicators-xl-bottom, &.indicators-xxl-bottom {
        bottom: 0;
      }
    }
  }

  &.text-dark {
    bs5-slideshow {
      .slideshow-controls, .slideshow-indicators {
        bs5-icon {
          color: $dark;;
        }
      }
      .slideshow-indicators {
        .progress {
          .progress-bar {
            background-color: $dark;
          }
        }
      }
    }
  }

  &.text-white {
    bs5-slideshow {
      .slideshow-controls, .slideshow-indicators {
        bs5-icon {
          color: $white;;
        }
      }
      .slideshow-indicators {
        .progress {
          .progress-bar {
            background-color: $white;
          }
        }
      }
    }
  }
}