gy-section-blackboard-slideshow {
  .slideshow-controls {
    pointer-events: none;
    > * {
      pointer-events: all;
    }
  }


  gy-blackboard {
    &:empty {
      width: 100%;
      min-height: 300px;
      background-image: url(/images/loading-blue.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100px;
    }

    .gy-blackboard-icons button {
      color: $white;
      &:hover, &:active {
        opacity: $blackboard-active-button-opacity;
        color: $white;
      }
      &:focus {
        box-shadow: none;
      }
  
      @include media-breakpoint-up(md) {
        color: $dark;
        opacity: 0;
        &:hover, &:active {
          opacity: $blackboard-active-button-opacity;
          color: $dark;
        }
      }
    }
  }

  &:hover {
    @include media-breakpoint-up(md) {
      gy-blackboard {
        .gy-blackboard-icons button {
          opacity: $blackboard-button-opacity;
          &:hover, &:active {
            opacity: $blackboard-active-button-opacity;
          }
        }
        &.chalk-selected {
          .gy-blackboard-icons button.button-chalk {
            opacity: $blackboard-active-button-opacity;
          }
        }
        &.sponge-selected {
          .gy-blackboard-icons button.button-sponge {
            opacity: $blackboard-active-button-opacity;
          }
        }
      }
    }
  }

}