gy-section-calendar {
  display: block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .event {
      display: grid;
      grid-template-columns: 7rem auto;
      grid-template-rows: 7rem;
      .calendar-date {
        margin: 0 0.75rem 0.75rem 0;
        background: white;
        border: 1rem transparent;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: 0 3px rgba(180, 180, 180, 0.5);
        .calendar-date-day {
          font-size: calc(1.375rem + 1.5vw);
          color: #72b52b;
          font-weight: 500;
          line-height: 90%;
        }
        .calendar-date-month {
          text-transform: uppercase;
        }
      }
      .calendar-info {
      }
      p {
        margin: 0;
      }
      .event-name {
        font-weight: 600;
      }

      .event-date {
        color: $gray-600;
      }
    }
  }
}
