gy-section-calendar {
  display: block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .event {
      p {
        margin: 0;
      }
      .event-name {
        font-weight: 600;
      }

      .event-date {
        color: $gray-600;
      }
    }
  }
  
}
