h2.section-heading Kalender
ul 
  li(ssr-rv-each-entry="calendarEntries")
    .event
      .calendar-date
        span.calendar-date-day [ entry.start | lx-from-iso | lx-set-locale 'de' | lx-day ]
        span.calendar-date-month.h5.mb-0 [ entry.start | lx-from-iso | lx-set-locale 'de' | lx-month-short ]
      .calendar-info
        .event-date
          span [ entry.start | lx-from-iso | lx-set-locale 'de' | lx-to-moment-calendar | capitalize | remove-empty-clock ]
          span.event-date(ssr-rv-if="entry.sameDay | not") &nbsp;bis [ entry.end | lx-from-iso | lx-set-locale 'de' | lx-to-moment-calendar | remove-empty-clock ]
        h6.event-name [ entry.summary]
