gy-blackboard {
  display: block;
  canvas {
    width: 100%;
    max-width: 100%;
  }
  .gy-blackboard-icons {
    position: absolute;
    right: 0;
    button {
      z-index: 2;
      display: block;
      transform: translateX(-50%) !important;
      opacity: $blackboard-button-opacity;
      transition: opacity 0.2s;
    }
  }
  cursor: pointer;
  &.chalk-selected {
    cursor: crosshair;
    .button-chalk {
      opacity: $blackboard-active-button-opacity;
    }
  }
  &.sponge-selected {
    cursor: grab;
    .button-sponge {
      opacity: $blackboard-active-button-opacity;
    }
  }
  a {
    display: block;
  }
}
