
gy-navbar {
    display: block;
    transition: $bs5-sidebar-transition;
    border-bottom: $navbar-border-width $navbar-border-style $navbar-border-color;
    .brand-text {
        line-height: 1;
        font-size: 16px;
        user-select: none;
    }
    .nav-icon {
        width: 32px;
        height: 32px;
    }
}