.navbar.navbar-main
  .container-fluid.d-block
    .row.justify-content-between
      //- Left
      .col-auto.d-flex.align-items-center.d-none.d-md-flex
        .row.d-flex.align-items-center
          a.col-auto.navbar-brand.d-flex.align-items-center.p-0.mx-2(href="/")
            bs5-icon(src="/images/logo.svg" size="64" rv-hide="isActive" rv-on-click="toggle")
      //- Middle
      .col-12.col-md-auto.d-flex.align-items-center.justify-content-center
        .row
          .col-auto()
            gy-search-input
      //- Right
      .col-auto.d-flex.align-items-center.d-none.d-md-flex
        .row.d-flex.align-items-center
          bs5-toggle-button.col-auto.text-dark.mx-2(target-id="right-sidebar")
            ul.nav
              li.nav-item.d-flex.align-items-center.py-0
                bs5-icon(src="/iconset/svg/icon_menu.svg" size="32" csr-rv-hide="isActive" csr-rv-on-click="toggle")
              li.nav-item.d-flex.align-items-center.py-0
                bs5-icon(src="/iconset/svg/icon_close.svg" size="32" csr-rv-show="isActive" csr-rv-on-click="toggle")