[submodule "packages/riba"]
	path = packages/riba
	url = https://github.com/ribajs/riba.git
[submodule "packages/node-app-manager"]
	path = packages/node-app-manager
	url = https://github.com/ArtCodeStudio/node-app-manager.git
