[submodule "packages/riba"]
	path = packages/riba
	url = https://github.com/ribajs/riba.git
[submodule "packages/node-podcast"]
	path = packages/node-podcast
	url = https://github.com/maxnowack/node-podcast.git
