.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(rv-co-header="header" show-date="false")
  section.filter.row.mb-4(rv-if="categories | size | gt 0")
    .col-12
      | Filter:  
      a.mx-1(rv-href=" | blog" csr-rv-route-class-active csr-rv-route-preload) Alle
      span(rv-each-category="categories")
        a.mx-1(rv-if="category.blog_entries | size | gt 0" rv-text="category.name" rv-href="category.slug | blog" csr-rv-route-class-active csr-rv-route-preload)
    .col-12(ssr-rv-if="description")
      p(ssr-rv-html="description | markdown")
  section.row(csr-rv-image-events csr-rv-masonry='{"percentPosition": true }')
    .col-12.col-md-6.col-lg-4(rv-each-item="posts")
      gy-blog-entry-item(rv-co-post="item")
