gy-podcast-episode-web-player {
  display: block;
  max-width: 950px;
  podlove-web-player, podlove-web-player > * {
    width: 950px;
    min-width: 260px;
    max-width: 100%;
    min-height: 250px;
    &.podlove-web-player-loading {
      max-width: 950px;
      width: 100%;
      background-image: url(/images/loading-blue.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100px;
      * {
        display: none;
      }
    }
  }
}