.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row
    .col-auto.mx-auto
      gy-podcast-episode-web-player(ssr-rv-co-episode="episode")
    