.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row
    .col-12(rv-html="episode.description | markdown")
    .col-auto.mx-auto.px-0.my-5
      gy-podcast-episode-web-player(ssr-rv-co-episode="episode")
    