.gy-blackboard-icons
  button.btn.btn-link.button-chalk(rv-on-click="selectChalk")
    bs5-icon.iconset.size-36.mb-2(src="/images/chalk.svg" size="36")
  button.btn.btn-link.button-sponge(rv-on-click="selectSponge")
    bs5-icon.iconset.size-36(src="/images/sponge.svg" size="36")
canvas(width=1920 height=1200)
