.gy-blackboard-icons
  button.btn.btn-link.button-chalk
    bs5-icon.iconset.size-36(src="/images/chalk.svg" size="36" rv-on-click="selectChalk").mb-2
  button.btn.btn-link.button-sponge
    bs5-icon.iconset.size-36(src="/images/sponge.svg" size="36" rv-on-click="selectSponge")
canvas(width=1920 height=1200)
