body.gallery-page {
  min-height: 100vh;
  #layout-bottom {
    display: none;
  }
}

gallery-page {
  display: block;
  min-height: $gallery-min-height;

  &.gallery-style-art {
    background: $gallery-art-background-image;
    background-size: $gallery-art-background-size;    
    > .container-fluid {
      background: $gallery-background-gradient;
    }
    .card-image {
      @extend .p-3;
    }
  }

  &.gallery-style-dreamy {
    background: $gallery-dreamy-background-image;
    background-size: $gallery-dreamy-background-size;    
    > .container-fluid {
      background: $gallery-background-gradient;
    }
  }

  &.gallery-style-dreamy, &.gallery-style-color {
    .card-image {
      @extend .p-1;
    }
  }

  > .container-fluid {
    min-height: $gallery-min-height;
    bs5-photoswipe {
      max-width: 100vw;
    }
  }


}