gallery-page {
  display: block;
  background: $gallery-background-image;
  background-size: $gallery-background-image-size;
  > .container-fluid {
    min-height: 100vh;
    background: $gallery-background-gradient;
    bs5-photoswipe {
      max-width: 100vw;
    }
  }
}