body.gallery-page {
  background: $gallery-background-image;
  background-size: $gallery-background-image-size;
  min-height: 100vh;
  #layout-bottom {
    display: none;
  }
}

gallery-page {
  display: block;
  background: $gallery-background-gradient;
  min-height: 100vh;
  > .container-fluid {
    height: 100%;
    bs5-photoswipe {
      max-width: 100vw;
    }
  }
}