.container-fluid
  .row
    .col-12
      h1.text-center(rv-template="title")
  section.row
    .col-8
      gy-sections(rv-sections="content")
    .col-4
      .row
        .col-12(style="background-color: red")
          h3 Downloads
          .row(rv-each-asset="assets")
            .col-12 
              a(rv-href="asset.file.url | strapi" download rv-text="asset.name")
        .col-12
          h3 Blog Einträge
          .row(rv-each-blog="blogEntries")
            .col-12 
              a(rv-href="blog.slug | blog" rv-text="blog.title") 
        .col-12
          gy-dates(rv-calendar-key="calendarKey")
