ul.navbar-nav.flex-row
  li.nav-item.dropdown(rv-each-level0="entry.children")
    a.nav-link.dropdown-toggle.mx-2(rv-hide="level0.hideInSidebar", rv-on-click="toggle | args level0", rv-href="level0.href" rv-text="level0.label" rv-id="level0.label | handleize | prepend 'level0-'" role="button")
    .dropdown-menu.border-top-0(rv-if="level0.children | size", rv-aria-labelledby="level0.label | handleize | prepend 'level0-'")
      div(rv-each-level1="level0.children")
        a.dropdown-item.d-flex.align-items-center(rv-hide="level1.hideInSidebar", rv-on-click="toggle | args level1", rv-href="level1.href", rv-class-pe-0="level1.children | size")
          .w-100.dropdown-toggle(rv-text="level1.label", rv-id="level1.label | handleize | prepend 'level1-'")
          bs5-icon.text-greenlight(rv-if="level1.children | size", size="28", src="/iconset/svg/arrow_carrot.svg", direction="right")
          .dropdown-menu.border-top-0(rv-if="level1.children | size" rv-aria-labelledby="level1.label | handleize | prepend 'level1-'")
            div(rv-each-level2="level1.children")
              a.dropdown-item.d-flex.align-items-center(rv-hide="level2.hideInSidebar", rv-on-click="toggle | args level2", rv-href="level2.href", rv-class-pe-0="level2.children | size")
                .w-100.dropdown-toggle(rv-text="level2.label", rv-id="level2.label | handleize | prepend 'level2-'")
                bs5-icon.text-greenlight(rv-if="level2.children | size", size="28", src="/iconset/svg/arrow_carrot.svg", direction="right")
                .dropdown-menu.border-top-0(rv-if="level2.children | size", rv-aria-labelledby="level2.label | handleize | prepend 'level2-'")
                  div(rv-each-level3="level2.children")
                    a.dropdown-item.d-flex.align-items-center(rv-hide="level3.hideInSidebar", rv-on-click="toggle | args level3", rv-href="level3.href", rv-class-pe-0="level3.children | size")
                      .w-100.dropdown-toggle(rv-text="level3.label", rv-id="level3.label | handleize | prepend 'level3-'")
                      bs5-icon.text-greenlight(rv-if="level3.children | size", size="28", src="/iconset/svg/arrow_carrot.svg", direction="right")
                      .dropdown-menu.border-top-0(rv-if="level3.children | size", rv-aria-labelledby="level3.label | handleize | prepend 'level3-'")
                        div(rv-each-level4="level3.children")
                          a.d-flex.align-items-center(rv-enabled="level4.href", rv-hide="level4.hideInSidebar", rv-href="level4.href", rv-text="level4.label")
                          