.container-fluid.container-xxl.bg-white
  .row
    .col-12
      gy-sections(rv-co-sections="sections" context="page" rv-co-header="header")
      gy-asset-list.row.my-5(title="Downloads", ssr-rv-co-assets="assets")