.row
  h2.col-12.section-heading Aktuelles
.row(csr-rv-masonry='{"percentPosition": true }')
  .col-12.col-lg-6(ssr-rv-each-item="news")
    div(rv-if="item.__typename | eq 'BlogEntry'")
      gy-blog-entry-item(rv-co-post="item", cat-text-at="150")