h2.section-heading Kalender
ul 
  li(ssr-rv-each-entry="calendarEntries")
    .event
      p.event-name [ entry.summary]
      .event-date
        span [ entry.start | moment-locale 'de' | calendar | capitalize | remove-empty-clock ]
        span.event-date(ssr-rv-if="entry.sameDay | not") &nbsp;bis [ entry.end | moment-locale 'de' | calendar | remove-empty-clock ]