h2.section-heading Kalender
ul 
  li 
    .event
      p.event-name Zeugnisse
      p.event-date 28.06.2021 
  li
    .event
      p.event-name Sommerferien
      p.event-date 27.06.2021 bis 04.08.2021
  li 
    .event
      p.event-name Winterferien
      p.event-date 22.12.2021 bis 06.01.2022