h2.section-heading Kalender
ul 
  li(ssr-rv-each-entry="calendarEntries")
    .event
      p.event-name [ entry.summary]
      .event-date
        span [ entry.start | dateFormat "DD.MM.YYYY" ]
        span.event-date(ssr-rv-if="entry.sameDay | not") &nbsp;bis [ entry.end | dateFormat "DD.MM.YYYY" ]