a.card.hover-card-sm.mb-3(rv-href="workingGroup.slug | working-group")
  img(rv-if="image" rv-src="image | strapi-image-url 'small'" class="card-img-top" rv-alt="image.alternativeText")
  .card-body
    h6.card-subtitle.mb-2(rv-text="workingGroup.__typename | entry-type-name" rv-add-class="workingGroup.__typename | entry-type-color | prepend 'text-'")
    h5.card-title(rv-text="workingGroup.title")
    p.card-text(rv-if="md")
      span(rv-html="md | markdown | strip-html | cut catTextAt ' ...'")
    span.card-text.text-muted(rv-if="showDate")
      | [ workingGroup.updated_at | or workingGroup.published_at | or workingGroup.created_at | lx-from-iso | lx-set-locale 'de' | lx-to-moment-calendar | capitalize ]
