gy-footer {
  display: block;
  
  footer {
    background-color: $cyan;
  }

  .footer-map {
    min-height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .footer-map-buttons {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 400;
    }
  }

  .footer-internal-links {
    background-color: $blue;
    a {
      text-decoration: none;
      color: $white;
      &:hover {
        background-color: darken($blue, 10%)
      }
    }
  }

  .contact-info {
    white-space: pre-line;
  }

  gy-nav-slide {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

