gy-footer {
  display: block;
  
  footer {
    background-color: $cyan;
  }
  
  .footer-bottom {
    bottom: 0;
  }

  .footer-map {
    min-height: 30vh
  }

  .contact-info {
    white-space: pre-line;
  }

  gy-nav-slide {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

