footer.container-fluid.container-xxl
  .row
    .col-12.d-block.d-md-none
      gy-nav-slide.my-5
    .footer-map.col-12.col-md-6.px-0(rv-style-background-image="data.mapImageUrl | strapi")
      leaflet-map(initial-lat="53.81002822661543" initial-lng="8.903347774026562" initial-zoom="20")
        marker(lat="53.81002822661543" lng="8.903347774026562" open-by-default="false") Gymnasium Otterndorf
      .footer-map-buttons
        //- Edit map depending on device
        a.m-3.btn.btn-outline-dark(csr-rv-if=" | os | eq 'Android'" href="https://play.google.com/store/apps/details?id=de.westnordost.streetcomplete" target="_blank") Karte bearbeiten
        a.m-3.btn.btn-outline-dark(csr-rv-if=" | os | eq 'iOS'" href="https://itunes.apple.com/de/app/go-map!!/id592990211?mt=8" target="_blank") Karte bearbeiten
        a.m-3.btn.btn-outline-dark(csr-rv-if=" | is-desktop" href="https://www.openstreetmap.org/node/558566641" target="_blank") Karte bearbeiten
        //- Calculate route
        a.m-3.btn.btn-outline-dark(rv-href="data.mapLink" target="_blank") Anfahrt berechnen
    .footer-right.col-12.col-md-6
      .row.h-100
        .col-12.contact-info
          .h5.mb-0.mt-3(ssr-rv-html="data.contactInfo | markdown")
        .col-12

        .col-12.footer-bottom.align-self-end 
          a(ssr-rv-each-link="data.links" ssr-rv-href="link | nav-item-url") 
            .h6(ssr-rv-text="link | nav-item-label")
          h6 (c) gymnasium-otterndorf.de