gy-footer {
  display: block;
  
  footer {
    background-color: $light;
    border-top: 1px solid #cacfcd;
  }
  
  .footer-bottom {
    bottom: 0;
  }

  .contact-info {
    white-space: pre-line;
  }

  gy-nav-slide {
    .list-group-item {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

