.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row.row-cols-1.row-cols-md-2.row-cols-lg-3.g-4.mb-4
    gy-teacher-item.col.mx-auto(rv-each-teacher="teachers" rv-co-teacher="teacher")