ul.list-group(rv-if="entry.type | eq 'list'")
  li.list-group-item.bg-transparent(rv-each-child="entry.children")
    div(rv-if="entry")
      a.text-light(rv-if="child.href" csr-rv-route rv-href="child.href" rv-text="child.label")
      span.text-light(rv-unless="child.href" rv-text="child.label")
      gy-right-sidebar-entry(rv-entry="child")