.logo.navbar-brand.d-flex.align-items-center
  bs5-icon(src="/images/logo.svg" height="96")
  //- .brand-text.ms-1.d-flex.flex-column.justify-content-center.fw-bold
  //-   .text-blue Gymnasium
  //-   .text-greenlight Otterndorf
  //-   .text-green Offene
  //-   .text-cyan Ganztagsschule