gy-nav-slide {
  display: block;
  max-height: 100%;
  bs5-slideshow {
    > .row {
      .slide {
        min-height: 50px;
        .list-group-item {
          &.disabled {
            opacity: 0.8;
          }
          // &.list-group-item-link, &.list-group-item-back  {
          //   padding-right: 40px;
          // }
          &.list-group-item-parent {
            cursor: pointer;
          }
        }
        .slide-caption {
          left: 0;
          right: 0;
          top: -55px;
        }
      }
    }
  }
}
