gy-nav-slide {
  display: block;
  max-height: 100%;
  bs5-slideshow {
    > .row {
      .slide {
        min-height: 50px;
        .list-group-item {
          &.disabled {
            opacity: 0.8;
          }
          &.active {
            background-color: inherit;
            color: $component-active-color;
            cursor: default;
            @include media-breakpoint-down(xl) {
              background-color: $component-active-bg;
            }
          }
          &.list-group-item-parent {
            cursor: pointer;
          }
        }
        .slide-caption {
          position: initial;
        }
      }
    }
  }
}
