bs5-slideshow(xs-controls="false" xs-indicators="true" xs-drag="true" xs-control-prev-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-control-next-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-indicator-inactive-icon-src="/iconset/svg/icon_circle-empty.svg" xs-indicator-active-icon-src="/iconset/svg/icon_circle-selected.svg" xs-sticky="true" xs-autoplay="true" xs-autoplay-interval="10000")
    .row.slideshow-row.gx-0
        .slide.col-12(ssr-rv-each-entry="section.entries")
            .row.gx-0.h-100(ssr-rv-add-class="entry.color | theme-bg-class")
                .col-12.col-md-8
                    .ratio.ratio-4x3
                        img.img-fluid.w-100(lazyload="lazy" ssr-rv-src='entry.image | strapi-image-url "large"' ssr-rv-alt="entry.image.alternativeText")
                .p-4.pb-5.col-12.col-md-4.slide-caption-custom(ssr-rv-add-class="entry.color | theme-bg-text-class")
                    .title(ssr-rv-text="entry.subtitle")
                    a.mt-3.btn.fw-bold(ssr-rv-if="entry.link" ssr-rv-href="entry.link" ssr-rv-text="entry.label" ssr-rv-add-class="entry.color | theme-bg-btn-outline-class")

    template(type="indicators")
        .row.slideshow-indicators(csr-rv-if="activeBreakpoint.indicators" csr-rv-add-class="indicatorsPositionClass")
            .col-12.col-md-4.ms-md-auto
                .row
                    .col.me-1.px-0.py-2.indicators.cursor-pointer(csr-rv-each-slide="items" csr-rv-class-ms-1="%slide% | eq 0" csr-rv-on-click="goTo | args slide.index")
                        //- done and active slides
                        .progress(csr-rv-if="activeIndex | egt %slide%")
                            .progress-bar.bg-white(role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100")
                        //- next slide with moving progress bar
                        .progress(csr-rv-if="activeIndex | plus 1 | eq %slide%")
                            .progress-bar.bg-white(role="progressbar" aria-valuemin="0" aria-valuemax="100" csr-rv-aria-valuenow="intervalProgress" csr-rv-style-width="intervalProgress | append '%'")
                        //- next unfinished slides
                        .progress(csr-rv-if="activeIndex | plus 1 | lt %slide%")
                            .progress-bar.bg-white(role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0")