gy-section-slideshow {
    bs5-slideshow {
        img {
            user-select: none;
            pointer-events: none;
            object-fit: cover;
        }
        .slideshow-controls, .slideshow-indicators {
            bs5-icon {
                color: white;
            }
        }
        .slideshow-row {
            white-space: unset;
        }
        .slideshow-indicators {
            margin-left: 0;
            margin-right: 0;
            justify-content: end;
            &.indicators-bottom, &.indicators-sm-bottom, &.indicators-md-bottom, &.indicators-lg-bottom, &.indicators-xl-bottom, &.indicators-xxl-bottom {
                bottom: 0;
            }

            .active {
                .progress {
                    .progress-bar {
                        width: 100% !important;
                    }
                }
            }
            .inactive {
                .progress {
                    .progress-bar {
                        width: 0 !important;
                        transition: none !important;
                    }
                }
            }
        }
        .slide-caption-custom {
            .title {
                @extend .h4;
                @include media-breakpoint-up(xxl) { 
                    @include font-size($h1-font-size);
                }
            }
        }
    }

}