.input-group.shadow-sm
  input.form-control.border-end-0(type="search" aria-describedby="search-help" placeholder="Suchen" csr-rv-on-input="onChange" csr-rv-value="term")
  button.input-group-text#search-addon.bg-gray(csr-rv-on-click="onAddon")
    bs5-icon(csr-rv-hide="term | size" src="/iconset/svg/icon_search2.svg" size="16")
    bs5-icon(csr-rv-show="term | size" src="/iconset/svg/icon_close2.svg" size="16")