gallery-page {
  display: block;
  background-image: url('/images/bg-gallery.webp');
  background-repeat: repeat;
  background-size: 100%;
  > .container-fluid {
    min-height: 100vh;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
    bs5-photoswipe {
      max-width: 100vw;
    }
  }
}