.d-flex.justify-content-center
  figure
    img.mx-auto.figure-img.img-fluid(ssr-rv-if="section.image" ssr-rv-src="section.image | strapi-image-url 'large'" ssr-rv-alt="section.image.alternativeText")
    figcaption.figure-caption(ssr-rv-if="section.caption" ssr-rv-text="section.caption")
