a.btn(rv-if="link | starts-with 'http'" target="_blank" rv-add-class="btnCls" rv-style="style" rv-text="section.label" rv-href="link" rv-debug="section.link | json")
a.btn(rv-unless="link | starts-with 'http'" rv-add-class="btnCls" rv-style="style" rv-text="section.label" rv-href="link" rv-debug="section.link | json")