a.card.hover-card-sm.mb-3(rv-href="post.slug | post")
  img(rv-if="sections.image.image" rv-src="sections.image.image | strapi-image-url 'small'" class="card-img-top" rv-alt="sections.image.image.alternativeText")
  .card-body(rv-debug="sections")
    h6.card-subtitle.mb-2.text-success(rv-text="post.typeName")
    h5.card-title(rv-text="post.title")
    //- p.card-text(rv-if="sections.text.text" rv-html="sections.text.text | markdown | strip-html")
    span.card-text.text-muted
      | [ post.createdAt | moment-locale 'de' | calendar | capitalize ] von <u>[ post.author ]</u>
