gy-section-text {
    display: inline-block;
    blockquote {
        @extend .blockquote;
        @extend .p-3;
        color: white;
        font-style: normal;
        background-color: $gray-600;
    }
}