.container.container-md.py-4
  .row
    .col-12
      h1(rv-template="title")
  section.row(csr-rv-masonry='{"percentPosition": true }')
    .col-12.col-md-6.col-lg-4(rv-each-item="posts")
      gy-blog-entry-item(rv-post="item")
