//- See apps/gymott/theme/scripts/csr/components/media-center-page/media-center-page.component.ts
//- For Client side logic
.container-fluid(csr-rv-class-watch="watching")
  rv-video(csr-rv-parent csr-rv-co-video-src="currentVideoSrc | strapi" autoplay-on-min-buffer="0.3")
    .video-wrapper(csr-rv-class-loading="loading" csr-rv-loading="loading")
      video(autoplay muted loop disablePictureInPicture)
        span Your browser does not support the video tag.
    .video-controls.video-controls-top.p-2
      .d-flex.justify-content-start
        .video-control.m-2.d-flex.align-items-center.cursor-pointer(csr-rv-on-click="$parent.backToOverview")
          bs5-icon(direction="left" size="32" src="/iconset/svg/arrow_carrot.svg" title="Zurück zur Übersicht")
          | Zurück
    .video-controls.video-controls-bottom.p-2
      .d-flex.justify-content-end
        .video-control.m-2
          bs5-icon(csr-rv-hide="paused" csr-rv-on-click="togglePause" size="32" src="/iconset/svg/icon_pause.svg")
          bs5-icon(csr-rv-show="paused" csr-rv-on-click="togglePause" size="32" direction="right" src="/iconset/svg/arrow_triangle.svg")
        .video-control.m-2
          bs5-icon.p-1(csr-rv-hide="muted" csr-rv-on-click="toggleMute" size="32" src="/iconset/svg/icon_volume-high_alt.svg")
          bs5-icon.p-1(csr-rv-show="muted" csr-rv-on-click="toggleMute" size="32" src="/iconset/svg/icon_vol-mute_alt.svg")
  .content-slider-wrapper
      content-slider(csr-rv-parent)
        //- Items
        .template(rv-each-movie="movies" rv-image-src="movie.poster | strapi-image-url fullFormat" rv-data="movie.movie | json")
          h2.display-3(rv-html="movie.title")
          p(rv-html="movie.caption | markdown")
        //- Custom content-slide template
        .row.m-0
          .wrapper.py-5.col-12(csr-rv-touch-events csr-rv-on-swipeleft='next' csr-rv-on-swiperight='prev')
            .slider.row.flex-nowrap.align-items-end(csr-rv-style-transform='transform')
              .item.d-flex.justify-content-center.align-items-end(csr-rv-each-item='items' csr-rv-touch-events='' csr-rv-on-tap='goTo | args item.index')
                img(csr-rv-src='item.imageSrc' draggable='false')
            .overlay.row
              .controls
                button.prev.btn.btn-link.p-1.d-flex.align-items-center(csr-rv-show='controls' role='button' csr-rv-on-click='prev' csr-rv-disabled='index | eq 0')
                  bs5-icon(src='/iconset/svg/arrow_carrot_alt.svg' direction='left' size='32')
                button.next.btn.btn-link.p-1.d-flex.align-items-center(csr-rv-show='controls' role='button' csr-rv-on-click='next' csr-rv-disabled='index | plus 1 | eq items.length')
                  bs5-icon(src='/iconset/svg/arrow_carrot_alt.svg' direction='right' size='32')
              .capture.my-5.my-md-0.col.scrollbar-dark
                div(csr-rv-html='activeItem.content')
                button.btn.btn-outline-white(csr-rv-on-click="$parent.watch | args activeItem") Play
