body.media-center-page {
  background: $media-center-background-color;
  position: relative;
  #layout-bottom {
    display: none;
  }
}


media-center-page {
  display: block;
  .watch {
    .content-slider-wrapper {
      opacity: 0;
      pointer-events: none;
    }

    rv-video {
      .video-controls {
        opacity: 1;
      }
    }
  } 

  .content-slider-wrapper {
    background: $media-center-overlay-background;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $transition-fade;
    content-slider {
      width: 100%;
      .template {
        display: none;
      }
      .controls, .capture {
        color: $media-center-color;
      }
      .capture .btn {
        pointer-events: all;
      }
      .capture {
        z-index: 1;
        .btn {
          pointer-events: all;
        }
      }
      .controls .btn.btn-link {
        color: $media-center-color;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  rv-video, video {
    width: 100%;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
  }

  rv-video {
    color: $media-center-color;
    display: block;
    position: relative;
    left: 0;
    top: 0;

    .video-controls {
      position: absolute;
      transition: opacity 300ms ease;
      opacity: 0;
      z-index: 1;
      width: 100%;
      &.video-controls-bottom {
        bottom: 0;
      }
      &.video-controls-top {
        top: 0;
      }
      .video-control {
        display: inline-block;
        &:hover {
          color: $blue;
        }
      }
    }
  }
}