.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row.my-5(ssr-rv-each-quote="quotes")
    .col-12.col-md-8.mx-auto.my-5
      gy-student-quote-item(ssr-rv-co-quote="quote")
    

