gy-section-facts {
  background-color: $cyan;

  .section-heading {
    margin: 0 !important;
  }

  .facts {
    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      flex-direction: row;
    }

    .fact {
      @extend .h2;
  
      @include media-breakpoint-up(xxl) { 
        @include font-size($h1-font-size);
      }
  
      &:not(:last-child) {
        border-bottom: 3px solid $black;
      }
  
      @include media-breakpoint-up(md) { 
        display: inline-block;
        width: 100%;
  
        &:not(:last-child) {
          border-right: 3px solid $black;
          border-bottom: none;
        }
      }
    }
  }
}