a.card {
  text-decoration: none;
  &:hover {
    color: inherit;
  }
}

.card {
  &.bg-yellow, &.bg-green, &.bg-blue {
    &.text-white {
      .text-muted {
        color: rgba($white, .5) !important;
      }
    }
  }
}