$ac-default-cursor: url(/images/vendors/@ribajs/artcodestudio/images/cursor_default.png);
$ac-default-cursor-2x: url(/images/vendors/@ribajs/artcodestudio/images/cursor_default_2x.png);

$ac-pointer-cursor: url(/images/vendors/@ribajs/artcodestudio/images/cursor_pointer.png);
$ac-pointer-cursor-2x: url(/images/vendors/@ribajs/artcodestudio/images/cursor_pointer_2x.png);

$ac-grabbing-cursor: url(/images/vendors/@ribajs/artcodestudio/images/cursor_grabbing.png);
$ac-grabbing-cursor-2x: url(/images/vendors/@ribajs/artcodestudio/images/cursor_grabbing_2x.png);