.container-fluid.py-5.my-5.text-center
  .row
    .col-12
      h1(ssr-rv-template="title")
  section.row
    .col-8
      gy-sections-home(ssr-rv-sections="content")
    .col-4
      .row
        .col-12(style="background-color: red")
          h3 Downloads
          .row(ssr-rv-each-asset="assets")
            .col-12 
              a(ssr-rv-href="asset.file.url | strapi" download)
                p(ssr-rv-text="asset.name")
        .col-12
          h3 Blog Einträge
          .row(ssr-rv-each-blog="blogEntries")
            .col-12 
              a(ssr-rv-href="blog.slug | blog")
                p(ssr-rv-text="blog.title")
        .col-12
          gy-dates(rv-calendar-key="calendarKey")
