.container-fluid.container-xxl
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
  section.row(csr-rv-masonry='{"percentPosition": true }')
    .col-12.col-md-6.col-lg-4(rv-each-page="pages")
      gy-page-item(rv-page="page")