.row(ssr-rv-add-class="color | theme-bg-class")
  .col-12(ssr-rv-if="section.title")
    h2.section-heading.text-center(ssr-rv-if="section.title" ssr-rv-text="section.title")
  .col-12.col-md-8.mx-auto
    gy-student-quote-item(ssr-rv-each-quote="quotes" ssr-rv-co-quote="quote")
  .col-12.my-5.text-center
    a.btn.btn-outline-dark.mx-auto(ssr-rv-href=" | student-quote") Archiv anschauen