.row(ssr-rv-if="section.title")
  .col-12.col-lg-8.offset-lg-2
    h2.section-heading.text-center(ssr-rv-if="section.title" ssr-rv-text="section.title")
    .row(ssr-rv-each-quote="quotes")
      div(rv-add-class="quote.mascotClass")
        img.img-fluid.mascot(rv-if="quote.mascot" rv-src="quote.mascot | strapi-student-image-url 'original'" rv-alt="quote.mascot.alternativeText")
      div(rv-add-class="quote.bubbleClass")
        .bubble.p-3.m-5(rv-add-class="quote.bubblePositionClass")
            h5(ssr-rv-if="quote.title" ssr-rv-text="quote.title")
            figure.my-0
              blockquote.card-text(ssr-rv-text="quote.text")
              figcaption.card-text(ssr-rv-if="quote.source")
                cite.text-muted.fst-normal(ssr-rv-text="quote.source")