$bubble-tip-spacing: 1.5em !default;
$bubble-tip-size: 1.2rem !default;
$bubble-bg-color: $white;

gy-section-student-quote {
    display: block;
    bs5-slideshow {
        .slideshow-indicators {
            &.indicators-bottom, &.indicators-sm-bottom, &.indicators-md-bottom, &.indicators-lg-bottom, &.indicators-xl-bottom, &.indicators-xxl-bottom {
                bottom: -20px;
            }
        }
    }

    img.mascot {
        max-width: 250px;
        width: 100%;
        object-fit: contain;
    }
}

/**
* @author Rik Schennink
* @see https://codepen.io/rikschennink/pen/mjywQb
*/ 
.speech-bubble {
    // bubble layout
    position: relative;
    max-width: 100%;
    
    // bubble looks
    background-color: $bubble-bg-color;
    border-radius: 1rem;

    @extend .shadow;
    &::before {
        // tip layout
        content: '';
        position: absolute;
        width: 0;
        border: $bubble-tip-size solid transparent;
    }
}

@include media-breakpoint-down(md) {
    .speech-bubble {
        &.position-top-left, &.position-top-right {
            // tip looks
            &::before {
                border-bottom-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        &.position-bottom-left, &.position-bottom-right {
            // tip looks
            &::before {
                border-top-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        &.position-left-top, &.position-left-bottom {
            // tip looks
            &::before {
                border-right-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        &.position-right-top, &.position-right-bottom {
            // tip looks
            &::before {
                border-left-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        /**
        *      *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-top-left {
            border-top: none;
            &::before {
                bottom: 100%;
                left: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *      *
        */
        &.position-bottom-left {
            &::before {
                top: 100%;
                left: $bubble-tip-spacing;
            }
        }
        /**
        *           *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-top-right {
            &::before {
                bottom: 100%;
                right: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *           *
        */
        &.position-bottom-right {
            &::before {
                top: 100%;
                right: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *    **      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-left-top {
            &::before {
                right: 100%;
                top: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *    **      *
        *     ********
        *
        */
        &.position-left-bottom {
            &::before {
                right: 100%;
                bottom: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      **
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-right-top {
            &::before {
                left: 100%;
                top: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      **
        *     ********
        *
        */
        &.position-right-bottom {
            &::before {
                left: 100%;
                bottom: $bubble-tip-spacing;
            }
        }
    }
}


@include media-breakpoint-up(md) {
    .speech-bubble {

        &.position-md-top-left, &.position-md-top-right {
            // tip looks
            &::before {
                border-bottom-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }
    
        &.position-md-bottom-left, &.position-md-bottom-right {
            // tip looks
            &::before {
                border-top-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }
    
        &.position-md-left-top, &.position-md-left-bottom {
            // tip looks
            &::before {
                border-right-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }
    
        &.position-md-right-top, &.position-md-right-bottom {
            // tip looks
            &::before {
                border-left-color: $bubble-bg-color;
                // filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
            }
        }

        /**
        *      *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-md-top-left {
            border-top: none;
            &::before {
                bottom: 100%;
                left: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *      *
        */
        &.position-md-bottom-left {
            &::before {
                top: 100%;
                left: $bubble-tip-spacing;
            }
        }
        /**
        *           *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-md-top-right {
            &::before {
                bottom: 100%;
                right: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      *
        *     ********
        *           *
        */
        &.position-md-bottom-right {
            &::before {
                top: 100%;
                right: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *    **      *
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-md-left-top {
            &::before {
                right: 100%;
                top: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *    **      *
        *     ********
        *
        */
        &.position-md-left-bottom {
            &::before {
                right: 100%;
                bottom: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      **
        *     *      *
        *     *      *
        *     ********
        *
        */
        &.position-md-right-top {
            &::before {
                left: 100%;
                top: $bubble-tip-spacing;
            }
        }
        /**
        *
        *     ********
        *     *      *
        *     *      *
        *     *      **
        *     ********
        *
        */
        &.position-md-right-bottom {
            &::before {
                left: 100%;
                bottom: $bubble-tip-spacing;
            }
        }
    }
}