gy-section-blackboard-slideshow {
  .slideshow-controls {
    pointer-events: none;
    > * {
      pointer-events: all;
    }
  }
  .btn-link {
    color: $white;
    &:hover, &:active {
      opacity: 1;
      color: $white;
    }
    &:focus {
      box-shadow: none;
    }
  }
}