
.row
    //- ssr-rv-class-row="section.size | eq 12 | or section.size"
    section(ssr-rv-each-section='sections' ssr-rv-class="getSectionClass | call section")
        .row(ssr-rv-if="section.__typename | eq 'ComponentSectionSlideshow'")
            gy-section-slideshow.col-12(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentSectionFacts'")
            gy-section-facts.col-12(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentContentText'")
            gy-section-text.col-12(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentContentImage'") 
            gy-section-image.col-12(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentHomeNews'") 
            gy-section-news.col-12(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentSectionGallerySlideshow'") 
            gy-section-gallery-slideshow.col-12.px-0(ssr-rv-co-section="section")
        .row.my-3(ssr-rv-if="section.__typename | eq 'ComponentHomeCalendar'") 
            gy-section-calendar.col-12(ssr-rv-co-section="section")