gy-sections {
  display: block;

  gy-section-image {
    display: block;
  }

  section {
    @extend .col-auto;
  }

  // Use the bootstrap variables here and adjust them (in ./styles/_variables-bootstrap.scss) if they are not right
  // The bootstrap fonts are responsive, so you cannot take the values directly from the design without loosing this nice feature.
  .section-heading {
    @extend %heading;
    @include font-size($h2-font-size);
    margin-top: $section-heading-margin-top;
    margin-bottom: $section-heading-margin-bottom;
    text-decoration-line: $section-heading-decoration;
    text-underline-offset: $section-heading-underline-offset;
  }
}

