bs5-slideshow.row.py-5(xs-controls="false" md-controls="true" xs-indicators="true" xs-drag="false" xs-control-prev-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-control-next-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-indicator-inactive-icon-src="/iconset/svg/icon_circle-empty.svg" xs-indicator-active-icon-src="/iconset/svg/icon_circle-selected.svg" xs-sticky="true" xs-autoplay="true" xs-autoplay-interval="10000")
    .col-12
        h2.text-center.text-white(rv-html="section.gallery.title")
        .row.slideshow-row.py-3
            .slide.col-12(ssr-rv-each-entry="section.gallery.images")
                .row.h-100.align-items-center
                    a.col-10.col-md-4.mx-auto.card.hover-card.p-3(csr-rv-not-draggable ssr-rv-href="section.gallery.slug | gallery %entry%")
                        img.img-fluid.w-100(lazyload="lazy" ssr-rv-src='entry.image | strapi-image-url "large"' ssr-rv-alt="entry.image.alternativeText")
                        //- .title(ssr-rv-text="entry.title")
        .row.my-3
            .col-auto.mx-auto
                a.btn.btn-outline-white.fw-bold(rv-href="section.gallery.slug | gallery") Alle ansehen

    template(type="indicators")
        .row.slideshow-indicators(csr-rv-if="activeBreakpoint.indicators" csr-rv-add-class="indicatorsPositionClass")
            .col-12.col-md-6.mx-auto
                .row
                    .col.py-3.indicators.cursor-pointer(csr-rv-each-slide="items" csr-rv-class-active="slide.active" csr-rv-class-next="%slide% | eq nextIndex" csr-rv-class-inactive="%slide% | eq nextIndex | or slide.active | not" csr-rv-on-click="goTo | args slide.index")
                        .progress(csr-rv-if="slide.active")
                            .progress-bar.bg-white(role="progressbar" aria-valuemin="0" aria-valuemax="100" csr-rv-aria-valuenow="100" csr-rv-style-margin-left="intervalProgress | append '%'")
                        .progress(csr-rv-unless="slide.active")
                            .progress-bar.bg-white(role="progressbar" aria-valuemin="0" aria-valuemax="100" csr-rv-aria-valuenow="intervalProgress" csr-rv-style-width="intervalProgress | append '%'")