.container-fluid.container-xxl
  .row.mb-5
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
    .col-12(ssr-rv-if="description")
      p(ssr-rv-html="description | markdown")
  section.row.mb-5(csr-rv-image-events csr-rv-masonry='{"percentPosition": true }')
    .col-12.col-md-6.col-lg-4(ssr-rv-each-teacher="teachers")
      gy-teacher-item(ssr-rv-co-teacher="teacher")