a.card.hover-card-sm.mb-3(rv-href="page.slug | page")
  .card-body
    bs5-icon.icon-pin.position-absolute(alt="Angepinnt" src="/iconset/svg/icon_pushpin.svg" size="16" direction="up")
    h6.card-subtitle.mb-2(rv-if="showType" rv-text="page.__typename | entry-type-name" rv-add-class="page.__typename | entry-type-color | prepend 'text-'")
    h5.card-title(rv-if="showTitle" rv-text="page.title")
  img(rv-if="sections.previewImage" rv-src="sections.previewImage | strapi-image-url 'small'" class="card-img-top" rv-alt="sections.previewImage.alternativeText")
  .card-body(rv-class-pt-0="sections.previewImage | not")
    p.card-text(rv-if="sections.previewText")
      span(rv-html="sections.previewText | markdown | strip-html | cut catTextAt ' ...'")
    span.card-text.text-muted(rv-if="showDate")
      | [ page.updated_at | or page.published_at | or page.created_at | lx-from-iso | lx-set-locale 'de' | lx-to-moment-calendar | capitalize ]
