.container-fluid.py-5.px-md-5
  .row
    .col-12
      content-slider
        template(rv-each-movie="movies" rv-image-src="movie.poster | strapi-image-url fullFormat")
          //- p.lead 29. June 2020 19.00h - 22.00h
          h2.display-3(rv-text="movie.title")
          p.lead(rv-text="movie.caption")