.container-fluid.py-5.px-md-5
  .row
    .col-12
      content-slider
        //- Items
        .template(rv-each-movie="movies" rv-image-src="movie.poster | strapi-image-url fullFormat")
          h2.display-3(rv-html="movie.title")
          p(rv-html="movie.caption | markdown")
          button.btn.btn-outline-white Play
        //- Custom content-slide template
        .row
          .wrapper.py-5.col-12(csr-rv-touch-events csr-rv-on-swipeleft='next' csr-rv-on-swiperight='prev')
            .slider.row.flex-nowrap.align-items-end(csr-rv-style-transform='transform')
              .item.d-flex.justify-content-center.align-items-end(csr-rv-each-item='items' csr-rv-touch-events='' csr-rv-on-tap='goTo | args item.index')
                img(csr-rv-src='item.imageSrc' draggable='false')
            .overlay.row
              .controls
                button.prev.btn.btn-link.p-1.d-flex.align-items-center(csr-rv-show='controls' role='button' csr-rv-on-click='prev' csr-rv-disabled='index | eq 0')
                  bs5-icon(src='/iconset/svg/arrow_carrot_alt.svg' direction='left' size='32')
                button.next.btn.btn-link.p-1.d-flex.align-items-center(csr-rv-show='controls' role='button' csr-rv-on-click='next' csr-rv-disabled='index | plus 1 | eq items.length')
                  bs5-icon(src='/iconset/svg/arrow_carrot_alt.svg' direction='right' size='32')
              .capture.my-5.my-md-0.col.scrollbar-dark(csr-rv-html='activeItem.content')
