.container-fluid.container-xxl.bg-white
  .row
    .col-12
      gy-page-header.col-12.my-4(ssr-rv-co-header="header")
    .col-12(ssr-rv-if="description")
      p(ssr-rv-html="description | markdown")
  section.row(csr-rv-image-events csr-rv-masonry='{"percentPosition": true }')
    .col-12.col-md-6.col-lg-4(ssr-rv-each-working-group="workingGroups")
      gy-working-group-item(ssr-rv-co-working-group="workingGroup")