gy-footer {
  display: block;
  
  footer {
    background-color: $light;
    border-top: solid $cyan 2px;
  }

  @include media-breakpoint-up(md) { 
    .footer-right {
      border-left: solid $cyan 2px;
    }  
  }
  
  .footer-bottom {
    bottom: 0;
  }

  .contact-info {
    white-space: pre-line;
  }
}

