gy-footer {
  display: block;
  
  .row {
    background-color: $light;
  }
  
  .footer-bottom {
    bottom: 0;
  }

  .contact-info {
    white-space: pre-line;
  }

  .brand-text {
    line-height: 1;
    font-size: 24px;
    user-select: none;
  }
}

