
.row.section(ssr-rv-each-section='sections')
    .col-12(ssr-rv-if="section.__typename | eq 'ComponentSectionSlideshow'")
        gy-section-slideshow(ssr-rv-co-section="section")
    .col-12(ssr-rv-if="section.__typename | eq 'ComponentSectionFacts'")
        gy-section-facts(ssr-rv-co-section="section")
    .col-12(ssr-rv-if="section.__typename | eq 'ComponentContentText'")
        gy-section-text.my-5(ssr-rv-co-section="section")
    .col-12(ssr-rv-if="section.__typename | eq 'ComponentContentImage'") 
        gy-section-image(ssr-rv-co-section="section")