gy-page-header {
  display: block;
  .breadcrumb-item {
    a {
      color: $body-color;
      &.active {
        color: $component-active-color;
        text-decoration: none;
        cursor: default;
      }
    }
    &.active {
      color: $component-active-color;
    }
  }

}