gy-page-header {
  display: block;

  .draggable {
    * {
      user-select: none;
      user-drag: none;
    }
  }

  .breadcrumb-item {

    + .breadcrumb-item {
      // For no wrap the breadcrumb separator
      &:before {
        float: none;
        display: inline-block;
      }
    }

    a {
      color: $body-color;
      &.active {
        color: $component-active-color;
        text-decoration: none;
        cursor: default;
      }
    }
    &.active {
      color: $component-active-color;
    }
  }

}