nav.scrollbar-green.scrollbar-x-auto(rv-if="header.breadcrumbs | size" aria-label="breadcrumb" csr-rv-scrollbar-draggable csr-rv-scroll-position-x="'end'")
  ol.breadcrumb.d-flex.flex-nowrap.text-nowrap
    li.breadcrumb-item(draggable="false" rv-each-breadcrumb="header.breadcrumbs" rv-class-active="breadcrumb.active")
      small(rv-if="breadcrumb.active" aria-current="page" rv-text="breadcrumb.type | entry-type-name | prefer breadcrumb.label")
      small(rv-unless="breadcrumb.active")
        a(draggable="false" rv-if="breadcrumb.url" rv-href="breadcrumb.url" rv-text="breadcrumb.type | entry-type-name | prefer breadcrumb.label")
        span(rv-unless="breadcrumb.url" rv-text="breadcrumb.type | entry-type-name | prefer breadcrumb.label")

h1(rv-text="header.title")

small(rv-if="header.teachers | size")
  | Unterrichtet von  
  span(rv-each-teacher="header.teachers")
    a(rv-href="teacher.slug | teacher")
      span(rv-text="teacher.first_name")
      span(rv-if="teacher.first_name")
        | 
      span(rv-text="teacher.name")
    span(rv-if="header.teachers | size | minus 1 | gt %teacher%") , 

small(rv-if="showDate | and header.updatedAt")
  span(rv-text="header.updatedAt | moment-locale 'de' | calendar | capitalize")
  span(rv-if="header.author")
    |  
small(rv-if="header.author")
  | von [header.author]