gy-search-result {
  display: block;
  max-height: 100vh;
  overflow-x: auto;
  transition: $bs5-sidebar-transition;
  .search-highlight {
    background-color: $yellow;
  }
  .suggest {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
  }
  background-color: $body-bg;
  .card {
    .card-text {
      // max-height: 500px;
    }
  }
}