.container(csr-rv-show="term | size")
  .row
    .col-12.text-center
      span.search-alert(ssr-rv-class="alert.class" csr-rv-show="alert.show" csr-rv-class="alert.class" csr-rv-text="alert.message")
      span &nbsp;
      span.search-suggestions(csr-rv-show="suggestions.show" csr-rv-template="suggestions.message")
  .row.mb-3(csr-rv-if="items | size")
    .col-12.col-md-6.offset-md-3.col-xxl-4.offset-xxl-4.g-4(csr-rv-each-item="items")
      .card.hover-card-sm
        .card-body
          h6.card-subtitle.mb-2(csr-rv-text="item.ns | entry-type-name" csr-rv-add-class="item.ns | entry-type-color | prepend 'text-'" csr-rv-class-cursor-pointer="item.data.href" csr-rv-on-click="onOpen | args item")
          h5.card-title(csr-rv-html="item.data.title" csr-rv-class-cursor-pointer="item.data.href" csr-rv-on-click="onOpen | args item")
          p.card-text 
            span(csr-rv-html="item.data.text | cut item.opts.cutAt ' ...'")
          .card-toolbar
          .d-flex.justify-content-between.flex-row-reverse
            a(csr-rv-href="item.data.href" csr-rv-on-click="onOpen | args item") Öffnen
            a(href="#" csr-rv-if="item.opts.expanded | not | and item.opts.expandable" csr-rv-on-click='onToggleItem | args item') Zeige mehr
            a(href="#" csr-rv-if="item.opts.expandable | and item.opts.expanded" csr-rv-on-click='onToggleItem | args item') Zeige weniger
  .row.my-2
    .col-12.text-center
      button.btn.btn-link(csr-rv-on-click="close") Schließen
