gy-right-sidebar {
  a {
    text-decoration: none;
  }
  bs5-sidebar {
    background-color: $right-sidebar-bg-color;
    border-left: $navbar-border-width $navbar-border-style $right-sidebar-border-color;
    @include media-breakpoint-up(xl) {
      background-color: $gray;
      border-left-color: $navbar-border-color;
    }
    gy-nav-slide {
      @include media-breakpoint-down(xl) {
        .list-group-item {
          color: $white;
          &.disabled {
            color: transparentize($white, 0.5);
          }
          &.active {
            background-color: $white;
            color: $component-active-color;
          }
        }
      }
    }
  }
  .hide-navbar-shadow { 
    position: fixed;
    top: -1px;
    right: $bs5-sidebar-width - 1;
    background-color: $gray;
    width: $hide-navbar-shadow-width;
    height: 86px;
    z-index: $zindex-hide-navbar-shadow;
    @include media-breakpoint-down(xl) {
      display: none;
    }
  }
  bs5-share {
    .dropdown-toggle::after {
      content: none;
    }
    bs5-icon {
      color: $white;
      @include media-breakpoint-up(xl) {
        color: $black;
      }
    }
  }
}