bs5-sidebar#right-sidebar.bg-blue.pb-5(csr-rv-parent container-selector="#main-container, gy-navbar, gy-search-result" position="right" mode="move" close-on-swipe="false")
  gy-nav-slide.scrollbar-x-auto.scrollbar-cyan(csr-rv-co-entry="$parent.navEntry")