bs4-slideshow(controls='false' lg-controls='true' indicators='false' lg-indicators='true' drag='false' control-prev-icon-src='/iconset/svg/arrow_carrot_alt.svg' control-next-icon-src='/iconset/svg/arrow_carrot_alt.svg' indicator-inactive-icon-src='/iconset/svg/icon_circle-empty.svg' indicator-active-icon-src='/iconset/svg/icon_circle-selected.svg' sticky='true' autoplay='true' autoplay-interval='10000')
    .slideshow-inner
        .slide.col-12.p-0(ssr-rv-each-entry='section.entries')
            img.img-fluid.w-100(lazyload='lazy' ssr-rv-src='entry.image | strapi-image-url "large"' ssr-rv-alt='entry.image.alternativeText')
            .slide-caption
                h1(ssr-rv-text="entry.subtitle")