gy-section-slideshow {
    img {
        user-select: none;
        pointer-events: none;
    }
    .slideshow-controls, .slideshow-indicators {
        bs5-icon {
            color: white;
        }
    }
}