bs4-slideshow(controls='false' lg-controls='true' indicators='false' lg-indicators='true' drag='false' control-prev-icon-src='//cdn.shopify.com/s/files/1/0247/7441/0321/t/5/assets/arrow_carrot_alt.svg?v=6480977966803164349' control-next-icon-src='//cdn.shopify.com/s/files/1/0247/7441/0321/t/5/assets/arrow_carrot_alt.svg?v=6480977966803164349' indicator-inactive-icon-src='//cdn.shopify.com/s/files/1/0247/7441/0321/t/5/assets/icon_circle-empty.svg?v=8524535666629776771' indicator-active-icon-src='//cdn.shopify.com/s/files/1/0247/7441/0321/t/5/assets/icon_circle-selected.svg?v=3490993639832854509' sticky='true' autoplay='true' autoplay-interval='10000')
    .slideshow-inner
        .slide.col-12.p-0(ssr-rv-each-entry='section.entries')
            img.img-fluid.w-100(lazyload='lazy' ssr-rv-src='entry.image | strapi-image-url "large"' ssr-rv-alt='entry.image | strapi-image-name')
            .slide-caption
                h1(ssr-rv-text="section.title")