bs5-slideshow(xs-controls="false" lg-controls="true" xs-indicators="false" lg-indicators="true" xs-drag="false" xs-control-prev-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-control-next-icon-src="/iconset/svg/arrow_carrot_alt.svg" xs-indicator-inactive-icon-src="/iconset/svg/icon_circle-empty.svg" xs-indicator-active-icon-src="/iconset/svg/icon_circle-selected.svg" xs-sticky="true" xs-autoplay="true" xs-autoplay-interval="10000")
    .row.slideshow-row
        .slide.col-12.p-0(ssr-rv-each-entry="section.entries")
            img.img-fluid.w-100(lazyload="lazy" ssr-rv-src='entry.image | strapi-image-url "large"' ssr-rv-alt="entry.image.alternativeText")
            .slide-caption
                h1(ssr-rv-text="entry.subtitle")