// Add custom variables here
$navbar-border-width: 1px;
$navbar-border-style: solid;
$navbar-border-color: shade-color($light, 10%);
$navbar-transition: top .2s cubic-bezier(.7,0,.3,1), left .2s cubic-bezier(.7,0,.3,1), right .2s cubic-bezier(.7,0,.3,1), bottom .2s cubic-bezier(.7,0,.3,1);

$right-sidebar-bg-color: $blue;
$right-sidebar-border-color: shade-color($right-sidebar-bg-color, 10%);

$hide-navbar-shadow-width: 30px;

$zindex-hide-navbar-shadow: $zindex-fixed + 1;
$zindex-search-result: $zindex-fixed + 1;

$section-heading-margin-bottom: $spacer * 2;
$section-heading-margin-top: $section-heading-margin-bottom;
$section-heading-decoration: underline;
$section-heading-underline-offset: 4px;

$gallery-background-gradient: radial-gradient(circle, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.4) 100%);
$gallery-background-image: #c2c2c2 url('/images/bg-gallery.webp') repeat center center;
$gallery-background-image-size: 100%;

$media-center-background-color: $black;
$media-center-overlay-background: rgba($dark, 0.7);
$media-center-color: $white;