.loading.d-flex.justify-content-center.align-items-center(rv-hide="html")
  bs5-icon(src="/images/loading-color.svg" size="100")
.table-responsive.scrollbar-blue(rv-show="html" rv-scrollbar-draggable rv-template="html")